.option a {
    margin-right: 30px;
    text-decoration: none;
    font-weight: 800;
    color: black;
    font-size: larger;
}

.option {
    margin-left: 60px;
}

.user-img {
    height: 50px;
}

.user-imgContainer {
    margin-right: 20px;
}

.icon {
    color: crimson;
    font-size: x-large;
}