.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px 10px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 819px) {
    .service-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
}