.service-details-info {
    width: 450px;
    margin: auto;
}

@media screen and (min-device-width: 320px) and (max-device-width: 819px) {
    .service-details-info {
        width: 350px;
        margin: auto;
    }

    #review {
        width: 90%;
    }
}