.home-card {
    background-color: crimson;
    text-align: center;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-card h1 {
    color: white;
}

.home-card button {
    font-size: larger;
    font-weight: 800;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px 0px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 819px) {
    .services-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);


    }
}